html{
  .full-height();
}

body{
  margin: 0px; 
  padding: 0px;
  .full-height();
}

.menu{
  .full-height();
  width: 4.7%;
  background-color: #000;
  padding-right: 0px;
}

.extra-menu{
  position: fixed;
  left: 56px;
  top: 0px;
  bottom: 0px;
  width: 290px;
  z-index: 1000;
}

.platform-canvas{
  .full-height();
  width: 94.3%;
  padding: 0px 20px;
  //overflow: scroll;
}

.app-canvas{
  .full-height();
  .sub-app-canvas{
    .full-height();
    height: 80%;
    border: 1px solid @gray;
    margin-bottom: 10px;
  }
  
}

//Columns & View Specific Layouts

.home-column{
  .full-height();
  width: 25.5%;
  margin-top: 7px;

  
  &.home-column-large{
    width: 37.25%;
  }
  
  .content-body{
    height: 72% !important;
    max-height: 72% !important;
    overflow-y: scroll;
  }

}

.color-column{
  .full-height();
  position: relative;
  .header{
    height: @line-height-double-block;
  }
  
  .content-body{
    .full-height();
    overflow-y: scroll !important; 
  
    &.content-body-stretch{
      width: 1000px;
      overflow-x: scroll !important;
    }   
  }

}