section.inspiration
  .container
    h1.color-purple IN FREEDOM, WE BELIEVE 
    h2.color-gray The best companies in the world build their own software,we <span class="color-purple">help you build</span> your own.
    
    .row
      .col-md-4.float-column
        img(src="/images/3vot-logo-full.png")

      .col-md-4.col-md-offset-2
        p Amazing Companies have one thing in common: they build their own technology. 
        
        p We'll get you building your own technology.
        
        p Technology to make business better; constantly improving processes, products and customer relationships.

        p Creating the conditions for innovation to occur

        
footer
  .icon
    img(src="/images/talk-to-us-icon.png")

  .container
    h2 
      a(href="talkToUs.html") Contact our co-founders directly @ anytime: US  1-800-363-8078

    section.contact
      .row
        .col-md-4
          a.btn-talk(href="talkToUs.html")
            img(src="/images/hangouts-footer.png")
            p Join Out Weekly Hangout
        .col-md-4
          a.btn-talk(href="talkToUs.html")
            img(src="/images/paid-consulting-support.png")
            p Paid Consulting Support
        .col-md-4
          a.btn-talk(href="talkToUs.html")
            img(src="/images/paid-development-sessions.png")
            p Paid Development Sessions
        
  
      .row
        .col-md-12
          p.legal
            span.
              Let us know if you have
            a.btn-talk(href="talkToUs.html") any questions        
            span.
              or special requirements, we are an Open Data Company 
