header
  img(src="/images/3vot-logo.png")

section.container.navigation
  .row
    img.hidden-md.hidden-lg.center-block(src="./images/r2-logo.png")
    a.col-md-2.col-md-offset-1(href="/features.html") Features
    a.col-md-2(href="/pricing.html") Pricing
    a.col-md-2.logo.visible-lg.visible-md(href="/home.html")
      img(src="./images/r2-logo.png")
    a.col-md-2(href="/gettingStarted.html") Getting Started
    a.col-md-2.twoLines(href="/talkToUs.html") Talk with a Founder