.adminPanel{

  .profile-list{

    .popover{
      max-width: 200px;
      span{
        display: block !important;
        padding: 6px;
        cursor: pointer;
        &:hover{
          color: @brand-info;
        }
      }
    }
  
    .list-group-item{
      span{
        display: inline-block;
        padding: 5px;
      }
    }
  }

  .app-permission-item{
    height: 190px;

    .apps-list{
      margin-top: 15px;
      height: 140px;
      overflow: auto;
      .list-group-item{
        padding: 2px 7px;
      }
      
    }
    
    
    
  }



}