.gettingStarted{

  img{
    max-width: 100%;
  }

  .videos{
  
    margin-top: 50px;
    h2 {
      margin-bottom: 20px;
    }
  }
  
  .video{
    display: block;
    color: @gray;
    font-size: 15px;
    line-height: 25px;
    transition: all .2s ease-in-out;
    &:hover{
      color: @brand-primary
    }
  }

}