.gettingStarted{

  img{
    max-width: 100%;
  }

  .videos{
  
    margin-top: 50px;
    
  }
  
  .video{
    display: block;
    color: @gray;
    font-size: 15px;
    line-height: 25px;
    &:hover{
      color: @brand-primary
    }
  }

}