.pricing{
  .pricing-free{
    position: relative;
    padding-bottom: 80px;
    
    .free{ margin-top: 20px; padding-bottom: 20px; min-height: 200px; }
    .paid{ margin-top: 20px; }
    
    p{
      font-size: 14px;
      margin-botton: 9px;
      line-height: 20px;
      display: block;
    }
    
    .app-icon-random{
      position: absolute;
      top: 50px;
      left: 0px;
      &:first-child{ top: 15px; left: 100px; }
      &:last-child{ top: 100px; left: 80px; }
    }

    .app-icon-large{
      height: 100px;
      width: 100px;
      margin-top: 40px;
      .text{
        font-size: 60px;
        line-height: 65px;
      }
    }
  
    .app-icon-extended{
      width: 90%;
      margin-top: 20px;
      .text{
        font-size: 20px;
        line-height: 40px;
      }
    }
  
  .paid-buttons{
    padding-top: 35px;
  }
  
  .advisory{
    margin-top: 40px;
    font-size: 22px;
    
    
  }
  
  }
}