doctype 5
html
  head
    include includes/web-head
    script.
      mixpanel.track("Visted Home Page");
    
  body.page.connect
    
    include includes/web-header

    section.container.headline
      h1.color-gray WELCOME <span class="color-purple">R2</span> <span class="color-blue">EARLY ADOPTER</span>
      
      p We'd like to personally help you get started with R2. 
      p Complete this quick form and we'll set you up in a couple of minutes.

    .section.container.form
      form.form-horizontal.form-connect(role="form",action="#{marketingServer}/register/early_adopter", method="POST")
        .row
          .col-md-3.col-md-offset-1
            <label for="inputEmail3" class="control-label">Name</label>
            <label for="inputPassword3" class="control-label">Mobile</label>
            <label for="inputPassword3" class="control-label">Email</label>

          .col-md-5.
            <input type="text" required name="CustomerName" class="form-control input-lg" placeholder="Jenny">
            <input type="phone" required name="CustomerPhone" class="form-control  input-lg" placeholder="+1 800 867 5309">
        
            <input type="email" required name="CustomerEmail" class="form-control  input-lg" >
            <input type="hidden" name="Action" value="Connect"/>
            <input type="hidden" name="to" value="8085460736"/>
            <input type="hidden" name="from" value="8083540011"/>
            <input type="hidden" name="redirectTo" value="/connect-thanks.html"/>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Complete Registration</button>
            <h3>After you register we'll send you Salesforce Connected App URL</h3>
            <h3>you'll then enable access to R2 with one click</h3>


    .section.container.headline
      h2.center-block.color-gray Thanks for your interest in <span class="color-purple">R2</span> 
      p We'll only use this information for support purposes, no sales/marketing.




    include includes/web-footer
      
