doctype 5
html
  head
    title= R
    link(rel="stylesheet", type="text/css", href="#{path}/r2.css")

    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Asap:400,700',rel='stylesheet',type='text/css')

    script(src="#{path}/r2.js")
      
  body.fullHeight 
  
    .outer-container.full-height
      .row.full-height
        .col-md-1.menu
      
        .kanban
          .kanban-wrapper
            .row
              .col-md-9
                .app-header Entregas
              .col-md-3
                .button-large
                  span.original-text Crear Nueva Ruta
                  svg.icon-large.icon-create
                  span.hover-text Cancelar Ruta
                  
              
            .app-wrapper
              .row.full-height
                .col-md-3.kan-col.full-height
                  .header.blue
                    span.triangle
                    span.large-title Pendientes

                  .content-body

                    .input-item.input-select Filtrar por:

                    .list-header Agosto 29

                    .list-item La Maravilla N°6472
                      .nested-list
                        .nested-list-item Transporte: RODCO
                        .nested-list-item Productos
                          .nested-list
                            .nested-list-item 1 Llavin Dale Doble Paso
                            .nested-list-item 3 Llavin Dale Doble Paso
                      .list-options
                        

                 

                    .list-header Agosto 28      


    
                .col-md-6.kan-col
                  .header.purple
                    span.triangle
                    span.large-title En Proceso
                  
                  .content-body
                    .sub-header
                      .sub-title Cliente
                    .row
                      .col-md-4

                        .list-header Agosto 28

                        .list-item La Maravilla N°6472
                        
                          .nested-list
                            .nested-list-item Transporte: RODCO
                            .nested-list-item Productos
                              .nested-list
                                .nested-list-item 1 Llavin Dale Doble Paso
                                .nested-list-item 3 Llavin Dale Doble Paso
                            .nested-list-item Dirección:
                              .nested-list
                                .nested-list-item San José Coronado, CostadoEste Iglesia

                        .list-item Taller Industrial N°6472
                          .nested-list
                            .nested-list-item Transporte: RODCO
                            .nested-list-item Productos
                              .nested-list
                                .nested-list-item 1 Llavin Dale Doble Paso
                                .nested-list-item 3 Llavin Dale Doble Paso
                            .nested-list-item Dirección:
                              .nested-list
                                .nested-list-item San José Coronado, CostadoEste Iglesia 



                      .col-md-4

                        .list-header Agosto 29

                        .list-item Hogar y Ferretería N°6472
                          .nested-list
                            .nested-list-item Transporte: RODCO
                            .nested-list-item Empaque:
                              .input-item
                            .nested-list-item Productos
                              .nested-list
                                .nested-list-item 1 Llavin Dale Doble Paso
                                .nested-list-item 3 Llavin Dale Doble Paso
                            .nested-list-item Dirección:
                              .nested-list
                                .nested-list-item San José Coronado, CostadoEste Iglesia


                      .col-md-4

                        .list-header Agosto 30

                        .list-item
                          .text Hogar y Ferreteria
                        .list-item
                          .text Taller Industrial
                        .list-item
                          .text Ferreteria y Materiales Orosi
                        .list-item
                          .text Mundillaves


                .col-md-3.kan-col
                  .header.green
                    span.triangle
                    span.large-title Entregados

                  .content-body

                    .input-item.input-select HOY

                    .list-item
                      .text Hogar y Ferreteria N°6472
                    .list-item
                      .text Taller Industrial N°6472
                    .list-item
                      .text Ferreteria y Materiales Orosi N°6472
                    .list-item
                      .text Mundillaves N°6472
              
              
              
              
              
              
              