doctype 5
html
  head
    include includes/web-head
  
  body.page.features
    
    include includes/web-header

    section.container.secondary-headline
      h1.color-gray FEATURES
      h2.center-block.color-gray Think about software <br/>in terms of <span class="color-blue">Apps</span>

    section.features
      .container
        .row.feature
          .col-md-6
            h3 Our Beliefs
            img(src="/images/features-our-beliefs-buidings.png")
            
          .col-md-6
            p We believe organizations should build their own software, and we help them do just that.Think in terms of Apps, turn each business process into an App. We align organizations around technology and software, speaking one language: The Language of Apps!
            
      
        .row.feature
          .col-md-6
            p R2 is simple and easy: everybody can build an app with widely used technologies like JS, HTML and CSS. By using Grunt, we managed to simplify development to the maximum. Take advantage of our development super powers: Simple & Smart App Structure, Component Based Development, Modular Testing and Responsive Design with Server Side Components.
            

          .col-md-6
            h3 Technology
            
            img(src="/images/features-technology-grunt-html-css-js.png")

        .row.feature
          .col-md-6
            h3 Instalation and Security
            img(src="/images/features-instalation-security.png")
          
          .col-md-6
            p One Click to install into your organization, using Salesforce.com Connected Apps Technology. Admin selects which apps are enabled to each user profile Users Login via OAUTH and Access Data via REST API
            
      
        .row.feature

          .col-md-6
            p Easily connect your app with your salesforce objects and data. Start showing your data and adding functionality to your app with just a couple of code lines. Take advantage of R2´s simple structure and manage all your JS, HTML and CSS code in one simple App Folder.

          .col-md-6
            h3 Build Fast
            
            img(src="/images/features-build-fast.png")
            
        .row.feature
          .col-md-6
            h3 Modular Testing
            
            img(src="/images/features-modular-testing.png")
          
          .col-md-6
            p Take full advantage of our component driven design and be able to define convenient modular testing. R2 will make your development and testing life fast, clean and easy. 

        .row.feature

          .col-md-6
            p Constantly build improvements and new ideas. Will be able to inmediatly deliver them to your users with our App Manager where you can assign new apps to your users profiles using our simple drag and drop tools.        

          .col-md-6
            h3 Deploy Instantly
            img(src="/images/features-deploy-instantly.png")

      
    include includes/web-footer
      
    script.
      cloud = '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="106.662px" height="74.709px" viewBox="0 0 106.662 74.709" enable-background="new 0 0 106.662 74.709" xml:space="preserve"> <g> <path fill="#FFFFFF" d="M83.158,9.537c-3.26,0-6.363,0.666-9.186,1.863C70.383,5.889,64.17,2.241,57.1,2.241 c-5.14,0-9.829,1.93-13.387,5.103C39.907,2.854,34.23,0,27.883,0C16.424,0,7.135,9.289,7.135,20.747 c0,2.788,0.552,5.443,1.55,7.872c-5.313,3.188-8.872,9.002-8.872,15.649c0,10.073,8.166,18.236,18.238,18.236 c0.98,0,1.939-0.079,2.878-0.228c3.022,7.297,10.208,12.432,18.599,12.432c8.146,0,15.157-4.842,18.324-11.804 c2.16,1.297,4.688,2.042,7.389,2.042c5.989,0,11.121-3.658,13.292-8.859c1.496,0.299,3.043,0.458,4.626,0.458 c12.98,0,23.504-10.524,23.504-23.505S96.139,9.537,83.158,9.537z"/> </g> </svg>';
