doctype 5
html
  head
    include includes/web-head
    script.
      mixpanel.track("Visted Home Page");
    
    script
      jQuery(function(){ 
        if(cloud == undefined){
          $(".drop-cloud").html(cloud);
        }
      });
    
  body.page.home
    
    include includes/web-header

    section.container.headline
      h1.color-gray TO TURN <span class="color-purple">BUSINESS IDEAS</span> INTO <span class="color-blue">APPS</span>
      h2.center-block.color-gray That's the definition of <span class="color-purple">Innovation</span>, simply build & publish apps with R2  

    section.container.video
      img(src="./images/video-screenshot.jpg")

    .section.explanation
      .span.drop-cloud.cloud-lg
      .span.drop-cloud.cloud-md
      .span.drop-cloud.cloud-sm
      .container
        .row.col-md-9
          h1.text-center
            span.color-blue DESIGNED FOR SALESFORCE.COM
            p R2 is an App Store that works out of the box with Salesforce.com
        
          .row
            h2 <span class="color-purple">Connect</span>
            p.col-md-8.col-md-offset-2 User's login with salesforce and connect via the Rest API which enforces all security settings.
          
          .row
            h2 <span class="color-purple">Build</span>
            p.col-md-8.col-md-offset-2 Javascript Developers build apps in hours, <br/> be amazed of R2's technological innovations.
          
          .row
            h2 <span class="color-purple">Publish</span>
            p.col-md-8.col-md-offset-2 Deploy Apps in seconds for everybody on every device; <br/>Choose which apps each user can use based on their profile.

        .row.col-md-3.callToAction

          h2.color-purple Registration is Limited
          a.btn.btn-primary.btn-register.btn-register-early-adopter(href="/connect.html") Connect Today
          h3 <span class="color-purple">Click to become an R2 Early Adopter</span>
          
          p We are rolling R2 to a few early adopters, <span class="color-blue">be first to discover</span> R2's magic like Web Components, Modular Testing, Improved Responsive Design
           

    section.features

      .span.drop-cloud.main-cloud
      .container
        .row.feature
          .col-md-7
            h3 Ideas become Apps
            
            .row
              .col-md-3.col-xs-3
                .app-icon
                  .app-icon-header.blue
                    span.label App
                    span.triangle
                  .text A

              .col-md-3.col-xs-3
                .app-icon
                  .app-icon-header.green
                    span.label App
                    span.triangle
                  .text P
                
              .col-md-3.col-xs-3
                .app-icon
                  .app-icon-header.red
                    span.label App
                    span.triangle
                  .text P

              .col-md-3.col-xs-3
                .app-icon
                  .app-icon-header.yellow
                    span.label App
                    span.triangle
                  .text S

          .col-md-5
            p.lead.smallMargin When your organization is ready to build it's own software it's ready to change the world. 
            
            p.lead Build software in terms of Apps with R2 
            
        .row.feature
          
          .col-md-5
            p R2 inherits all of Salesforce Security Settings via the Rest API.
            
            p Admins can choose which apps are available just by dragging them to a Profile.

          .col-md-7
            h3 Smart & Secure
            img(src="/images/app-by-profile.png")

        .row.feature
          .col-md-7
            h3 Publish in Seconds
            img(src="/images/app-publish-factory.png")
            
          .col-md-5
            p R2's Web Components Technology allows him to act as a robot; assembling different versions for each user, profile and internet connection. 
            p Automatically off course...



    include includes/web-footer
      
    script.
      cloud = '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 106.662 74.709" enable-background="new 0 0 106.662 74.709" xml:space="preserve"> <g> <path fill="#FFFFFF" d="M83.158,9.537c-3.26,0-6.363,0.666-9.186,1.863C70.383,5.889,64.17,2.241,57.1,2.241 c-5.14,0-9.829,1.93-13.387,5.103C39.907,2.854,34.23,0,27.883,0C16.424,0,7.135,9.289,7.135,20.747 c0,2.788,0.552,5.443,1.55,7.872c-5.313,3.188-8.872,9.002-8.872,15.649c0,10.073,8.166,18.236,18.238,18.236 c0.98,0,1.939-0.079,2.878-0.228c3.022,7.297,10.208,12.432,18.599,12.432c8.146,0,15.157-4.842,18.324-11.804 c2.16,1.297,4.688,2.042,7.389,2.042c5.989,0,11.121-3.658,13.292-8.859c1.496,0.299,3.043,0.458,4.626,0.458 c12.98,0,23.504-10.524,23.504-23.505S96.139,9.537,83.158,9.537z"/> </g> </svg>';
      