extends layout

block content

  .outer-container.full-height
    .row.full-height

      .col-md-1.menu
        h1 d 
    
      .col-md-11.kanban.full-height
        .row
          .col-md-4
            h1 Welcome
    
        .row.full-height
    
          .col-md-4.kan-col-wrapper.large.social-ban
            .kan-col
              .header.blue
                span.triangle
                span.large-title !Buenos días Mari!
            
              .sub-header
                .sub-title Que hay de nuevo?
          
              .content-body.scrollable
                .row.post
                  .col-md-1.post-image-wrapper
                    img(src="images/mau.png")
                  .col-md-11
                    .post-area
                      span.title Mauricio Santos
                      span.text Esta manana dds dfs fsdds dsfjs jsdi oifj kewf o jsdf sfdks dop oids ajkdsoda jadkdas kals
                    
                      .row.post-actions
                        a.labels.comment comente
                        a.labels.like me gusta
                    
                      .row.post-new-comment
                        .col-md-1.post-image-wrapper
                          img(src="images/mau.png")

                        .col-md-11
                          textarea.form-control(rows="1")
        
        
        
                .row.post
                  .col-md-1.post-image-wrapper
                    img(src="images/lau.png")
                  .col-md-11
                    .post-area
                      span.title Laura Sanchez
                      span.text ds f jknkj ds ewen wehe  d ekkddk ndkdbe du3n  manana dds dfs fsdds dsfjsjsdi oifjkewf o jsdf sfdksdop oidsajkdsoda jadkdas kals
                    
                      .row.post-actions
                        a.labels.comment Comente
                        a.labels.like Me gusta


                      .row.post-comments
                        .inner-wrapper
                          .col-md-1.post-image-wrapper
                            img(src="images/quiros.png")
                          .col-md-11
                            .post-area
                              span.title Rolando Quiros
                              span.text ds f jknkj ds ewen wehe  d ekkddk ndkdbe du3n  manana dds dfs fsdds dsfjsjsdi oifjkewf o jsdf sfdksdop oidsajkdsoda jadkdas kals
                              .row.post-actions
                                a.labels.comment comente
                                a.labels.like me gusta

                      .row.post-new-comment
                        .col-md-1.post-image-wrapper
                          img(src="images/mau.png")

                        .col-md-11
                          textarea.form-control(rows="1")




                .row.post
                  .col-md-1.post-image-wrapper
                    img(src="images/mau.png")
                  .col-md-11
                    .post-area
                      span.title Mauricio Santos
                      span.text Esta manana dds dfs fsdds dsfjs jsdi oifj kewf o jsdf sfdks dop oids ajkdsoda jadkdas kals
                      
                      .row.post-actions
                        a.labels.comment comente
                        a.labels.like me gusta
                      
                      .row.post-new-comment
                        .col-md-1.post-image-wrapper
                          img(src="images/mau.png")

                        .col-md-11
                          textarea.form-control(rows="1")
          
          
          
                .row.post
                  .col-md-1.post-image-wrapper
                    img(src="images/lau.png")
                  .col-md-11
                    .post-area
                      span.title Laura Sanchez
                      span.text ds f jknkj ds ewen wehe  d ekkddk ndkdbe du3n  manana dds dfs fsdds dsfjsjsdi oifjkewf o jsdf sfdksdop oidsajkdsoda jadkdas kals
                      
                      .row.post-actions
                        a.labels.comment Comente
                        a.labels.like Me gusta


                      .row.post-comments
                        .inner-wrapper
                          .col-md-1.post-image-wrapper
                            img(src="images/quiros.png")
                          .col-md-11
                            .post-area
                              span.title Rolando Quiros
                              span.text ds f jknkj ds ewen wehe  d ekkddk ndkdbe du3n  manana dds dfs fsdds dsfjsjsdi oifjkewf o jsdf sfdksdop oidsajkdsoda jadkdas kals
                              .row.post-actions
                                a.labels.comment comente
                                a.labels.like me gusta

                      .row.post-new-comment
                        .col-md-1.post-image-wrapper
                          img(src="images/mau.png")

                        .col-md-11
                          textarea.form-control(rows="1")
        

          .col-md-4.kan-col-wrapper.app-ban
            .kan-col
              .header.red
                span.triangle
                span.large-title Apps mas usadas
          
              .sub-header
                .sub-title.text-center Home
                              
              .content-body
                .inner-wrapper
                
                  .row.highlight
                    .col-md-4.app-icon.
                      <div class="icon">
                          <div class="gloss"></div>
                          <div class="text">in</div>
                      </div>

                    .col-md-8.app-info
                      .title  App Name
                      .labels d d ads ds das sd d adas das dsa dasD ASD Ad sadS AD sad sad sad sdsfds fdsf dsafd saf dsf sadf
                      .btn.btn-danger.btn-block Abrir App

                .row.app-row
                  .col-md-4
                    .icon.icon-small.green
                      .gloss
                      .text ze
                    .labels Abc Bde
                    
                  .col-md-4
                    .icon.icon-small.blue
                      .gloss
                      .text Ab
                    .labels Abc Bde
                  
                  .col-md-4
                    .icon.icon-small.green
                      .gloss
                      .text Ab
                    .labels Abc Bde

                .row.app-row.app-row-n
                  .col-md-4
                    .icon.icon-small.gray
                      .gloss
                      .text Ab
                    .labels Abc Bde

                  .col-md-4
                    .icon.icon-small.purple
                      .gloss
                      .text Ab
                    .labels Abc Bde

                  .col-md-4
                    .icon.icon-small.red
                      .gloss
                      .text Ab
                    .labels Abc Bde

                .row.app-row
                  .col-md-4
                    .icon.icon-small.blue
                      .gloss
                      .text Ab
                    .labels Abc Bde
                    
                  .col-md-4
                    .icon.icon-small.gray-light
                      .gloss
                      .text Ab
                    .labels Abc Bde

                  .col-md-4
                    .icon.icon-small.gray
                      .gloss
                      .text Ab
                    .labels Abc Bde

                .row.app-row.app-row-n
                  .col-md-4
                    .icon.icon-small.blue
                      .gloss
                      .text Ab
                    .labels Abc Bde


                  .col-md-4
                    .icon.icon-small.purple
                      .gloss
                      .text Ab
                    .labels Abc Bde

                  .col-md-4
                    .icon.icon-small.purple
                      .gloss
                      .text Ab
                    .labels Abc Bde


          .col-md-4.kan-col-wrapper.large.metric-ban.purple
            .kan-col
              .header.purple
                span.triangle
                span.large-title Que paso con el cliente 
            
              .sub-header
                .sub-title Todos los Clientes
          
              .content-body
          

  