extends layout

block content

  .outer-container.full-height
    .row.full-height

      .col-md-1.menu

    
      .col-md-11.kanban

        .kanban-wrapper
          .row
            .col-md-11
              h1 Welcome
            .col-md-1
              h1 O

          .row.full-height
  
            .col-md-4.kan-col-wrapper.large.social-ban.kan-col
       
              .header.blue
                span.triangle
                span.large-title !Buenos días Mari!
        
              .sub-header
                .sub-title Que hay de nuevo?
      
              .content-body.scrollable
                .news-feed.content-body-wrapper


            .col-md-4.kan-col-wrapper.app-ban.kan-col
              .header.red
                span.triangle
                span.large-title Apps mas usadas
      
              .sub-header
                .sub-title.text-center Home
                        
              .content-body
                .inner-wrapper.content-body-wrapper
            
                  .row.app-highlight


                .row.app-row
                  .col-md-4
                    .icon.icon-small.green
                      .gloss
                      .text Ze
                    .labels Abc Bde
                
                  .col-md-4
                    .icon.icon-small.blue.app
                      .gloss
                      .text Ah
                    .labels Abc Bde
              
                  .col-md-4
                    .icon.icon-small.green.app
                      .gloss
                      .text Yh
                    .labels Abc Bde

                .row.app-row.app-row-n
                  .col-md-4
                    .icon.icon-small.gray
                      .gloss
                      .text Re
                    .labels Abc Bde

                  .col-md-4
                    .icon.icon-small.purple
                      .gloss
                      .text Pa
                    .labels Abc Bde

                  .col-md-4
                    .icon.icon-small.red
                      .gloss
                      .text Op
                    .labels Abc Bde

                .row.app-row
                  .col-md-4
                    .icon.icon-small.blue
                      .gloss
                      .text Ry
                    .labels Abc Bde
                
                  .col-md-4
                    .icon.icon-small.gray-light
                      .gloss
                      .text Kb
                    .labels Abc Bde

                  .col-md-4
                    .icon.icon-small.gray
                      .gloss
                      .text Fy
                    .labels Abc Bde

                .row.app-row.app-row-n
                  .col-md-4
                    .icon.icon-small.blue
                      .gloss
                      .text Dd
                    .labels Abc Bde


                  .col-md-4
                    .icon.icon-small.purple
                      .gloss
                      .text Bb
                    .labels Abc Bde

                  .col-md-4
                    .icon.icon-small.purple
                      .gloss
                      .text Uj
                    .labels Abc Bde


            .col-md-4.kan-col-wrapper.large.metric-ban.kan-col
              .header.purple
                span.triangle
                span.large-title Que paso con el cliente 
        
              .sub-header
                .sub-title Todos los Clientes
    
              .content-body
                .content-body-wrapper
                  .row
                    .col-md-6
                      .blue.graph
                    .col-md-6
                      .purple.graph
            
                  .row
                    .col-md-12
                      .gray-light.graph

                  .row         
                    .col-md-6
                      .graph.gray-light
                    .col-md-6
                      .graph.green        
            


