doctype 5
html
  head
    include includes/web-head
  
  body.page.pricing
    
    include includes/web-header

    section.container.secondary-headline
      h1.color-gray.uppercase Pricing

    .section.container.pricing-free
      
      .row.free
        .col-md-4.col-md-offset-1
          h1.uppercase.color-green FREE
        
          .row
            .col-md-11.col-md-offset-1
              p For use in your Salesforce Sandbox
              p Hosted on Shared Resources
              p 3VOT Design & Style
              p Online Support On Demand
          
        .col-md-3.hidden-xs.hidden-sm
          .app-icon.app-icon-random
            .app-icon-header.blue
              span.label Sandbox
            .text Sa

          .app-icon.app-icon-random
            .app-icon-header.green
              span.label Support
            .text Su

          .app-icon.app-icon-random
            .app-icon-header.purple
              span.label Admin
            .text Ad

        .col-md-3.paid-buttons
          .app-icon.app-icon-extended
            .app-icon-header.green
              span.label App
            .text Try R2 for Free

      .divider

      .row.paid
        .col-md-5.col-md-offset-1
          h1.uppercase.color-red PREMIUM PLAN

          .row
            .col-md-11.col-md-offset-1
              p $5.000,00/year
              p Works on all Salesforce & Database Editions
              p Private Fully Controlled Heroku Architecture
              p Full Control of Design & Style
              p True Open Source Code
              p Online Support
              p ON Site Support On Demand

        .col-md-2.hidden-xs.hidden-sm
          .app-icon.app-icon-large
            .app-icon-header.red
              span.label Premium
            .text Pr

        .col-md-3.paid-buttons
          .app-icon.app-icon-extended
            .app-icon-header.red
              span.label 
            .text Launch Yours!

      br/
      .divider

      .row.text-center
        .col-md-12
          p We have made really easy to launch and use R2. Get in touch and talk with us about your ideas!
      
      br/
      .divider

      
      section.questions
        .row
          .col-md-12
            h1 Questions
            h2.advisory <a href="talkToUs.html">Contact our Founders</a> if you have any questions or request.
      
    include includes/web-footer
      
    script.
      cloud = '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="106.662px" height="74.709px" viewBox="0 0 106.662 74.709" enable-background="new 0 0 106.662 74.709" xml:space="preserve"> <g> <path fill="#FFFFFF" d="M83.158,9.537c-3.26,0-6.363,0.666-9.186,1.863C70.383,5.889,64.17,2.241,57.1,2.241 c-5.14,0-9.829,1.93-13.387,5.103C39.907,2.854,34.23,0,27.883,0C16.424,0,7.135,9.289,7.135,20.747 c0,2.788,0.552,5.443,1.55,7.872c-5.313,3.188-8.872,9.002-8.872,15.649c0,10.073,8.166,18.236,18.238,18.236 c0.98,0,1.939-0.079,2.878-0.228c3.022,7.297,10.208,12.432,18.599,12.432c8.146,0,15.157-4.842,18.324-11.804 c2.16,1.297,4.688,2.042,7.389,2.042c5.989,0,11.121-3.658,13.292-8.859c1.496,0.299,3.043,0.458,4.626,0.458 c12.98,0,23.504-10.524,23.504-23.505S96.139,9.537,83.158,9.537z"/> </g> </svg>';
