doctype 5
html
  head
    include includes/web-head
  
  body.page.talkToUs

    <div id="fb-root"></div>
    <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id))return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
    
    include includes/web-header

    section.container.secondary-headline
      h1.color-gray.uppercase We are easy to talk to
      h2 Just type your <span class="color-purple">name</span>  and <span class="color-green">number</span>, we'll get back to you

    .section.container.form
      form(class="form-horizontal", role="form")
        .row
          .col-md-3.col-md-offset-1.
            <label for="inputEmail3" class="control-label">Name</label>
            <label for="inputPassword3" class="control-label">Number</label>
            
          .col-md-4.
            <input type="email" class="form-control input-lg" id="inputEmail3" placeholder="Jenny">
            <input type="password" class="form-control  input-lg" id="inputPassword3" placeholder="+1 800 867 5309">
            <span class="help-block">Include country code. EJ USA: <strong>+1</strong> 546 123 3344</span>
            
            <button type="submit" class="btn btn-primary btn-lg btn-block">Call me back</button>

      .row
        h2 or you can also....
        
    .section.contactOption.blue
      .container
        .row
          .col-md-1.col-md-offset-1
            img(src="/images/twitter-logo.svg")
          .col-md-8
            .title Twitter
            .text.
              <a href="https://twitter.com/3vot" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @3vot</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <a href="https://twitter.com/intent/tweet?screen_name=3vot" class="twitter-mention-button" data-size="large">Tweet to @3vot</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          
      
          
    .section.contactOption.purple
      .container
        .row
          .col-md-1.col-md-offset-1
            img(src="/images/mail-icon.svg")
          .col-md-8
            .title Phone
            .text  Founders: <strong>1-800-363-8078</strong>
      
    .section.contactOption.red
      .container
        .row
          .col-md-1.col-md-offset-1
            img(src="/images/mail-icon.svg")
          .col-md-8
            .title Email
            .text  Roberto: <strong><a href="mailto:one@3vot.com?Subject=Hello%20Roberto">one@3vot.com</a></strong> Arnoldo: <strong><a href="mailto:a3@3vot.com?Subject=Hello%20Arnoldo">a3@3vot.com</a></strong>
      
    .section.contactOption.yellow
      .container
        .row
          .col-md-1.col-md-offset-1
            img(src="/images/skype-logo.svg")
          .col-md-8
            .title Skype
            .text  Contact: <strong>roberto.rodriguez.artavia</strong> or <strong>arnoldomora79</strong>
      
    .section.contactOption.blue
      .container
        .row
          .col-md-1.col-md-offset-1
            img(src="/images/facebook-logo.svg")
          .col-md-8
            .title 
              a(href="https://www.facebook.com/3VOTCORP") Facebook 
            
      
    include includes/web-footer
      
    script.
      cloud = '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="106.662px" height="74.709px" viewBox="0 0 106.662 74.709" enable-background="new 0 0 106.662 74.709" xml:space="preserve"> <g> <path fill="#FFFFFF" d="M83.158,9.537c-3.26,0-6.363,0.666-9.186,1.863C70.383,5.889,64.17,2.241,57.1,2.241 c-5.14,0-9.829,1.93-13.387,5.103C39.907,2.854,34.23,0,27.883,0C16.424,0,7.135,9.289,7.135,20.747 c0,2.788,0.552,5.443,1.55,7.872c-5.313,3.188-8.872,9.002-8.872,15.649c0,10.073,8.166,18.236,18.238,18.236 c0.98,0,1.939-0.079,2.878-0.228c3.022,7.297,10.208,12.432,18.599,12.432c8.146,0,15.157-4.842,18.324-11.804 c2.16,1.297,4.688,2.042,7.389,2.042c5.989,0,11.121-3.658,13.292-8.859c1.496,0.299,3.043,0.458,4.626,0.458 c12.98,0,23.504-10.524,23.504-23.505S96.139,9.537,83.158,9.537z"/> </g> </svg>';
      
      
