.app-menu-content-body{
  padding: 0px !important;
  border-top: none !important;

  .app-menu-wrapper{
    padding: 15px;
    background-color: @gray-light4;
    
  }

  .app-menu, .small-app-menu{
    
    .app-icon{
      margin: 0px auto 24px auto;
    } 
  }
  
  .small-app-menu{
    .app-icon{
      max-width: 79px;
    }
  }
  
}

.app-highlight{
  background-color: #fff;
  padding: 10px;

  .title{
    line-height: 1.6;
    color: @gray-light;
    font-weight: 100;
    line-height: @line-height-block;
  }

  .app-icon {
    width: 90%;
  }

  .app-icon .text
  {
      color: white;
      font-size: 60px;
      font-family: sans-serif;
      line-height: 0px;
      font-weight: bold;
      text-align: center;
  }

  .labels{
    margin-bottom: 6px;
    line-height: 1.2;
  }

}