.logo{
  color: #fff;
  height: 66px;
  display: block;
  text-align: center;
  margin-top: 8px;
  font-size: 11px;
}


.menu-title{
  display:block;
  font-size: 9px;
  color: @gray;
  text-align: center;
  margin-bottom: 5px;
}

.live-app-menu-divider{
  margin-top: 16px;
  margin-bottom: 16px;
  height: 1px;
  border-bottom: 1px solid @gray;
  border-top:  1px solid @gray-light;
}