.condensed{
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-weight: 300;
}

.light{
  font-weight: 300 !important;
}

.large-title{
  font-size: @font-size-large;
  font-weight: 400;
}

.app-header{
  font-size: @font-size-largest;
  color: @gray;
  line-height: 66px;
}

.title{
  font-size: @font-size-base;
  font-weight: 400;  
}

.sub-title{
  font-size: @font-size-base;
  color: @gray;
}

.text{
  font-size: @font-size-base;
  
  &.heading{
    font-weight: 400;
  }
  
}

.labels{
  font-size: @font-size-small;
}

