.large-title{
  font-family: "PT Sans" , "Helvetica Neue" , Helvetica , Arial;
  font-size: @font-size-large;
  font-weight: 500;
}

.app-header{
  font-size: @font-size-largest;
  color: @gray;
  line-height: 66px;
}

.title{
  font-size: @font-size-base;
  font-weight: 700;  
}

.sub-title{
  font-size: @font-size-base;
  color: @gray;
}

.text{
  font-size: @font-size-base;
}

.labels{
  font-size: @font-size-small;
}

