.inline{
  display: inline-block;
}

.noMargin{
  margin:0px;
}

.noPadding{
  padding: 0px;
}

.padding-y{
  padding: 7px 0px;
}

.full-height{
  .full-height()
}

.full-height() {
  height: 100%;
  overflow: hidden;
}

.scrollable{
  overflow-y: scroll !important;
  min-height: 100%;
}

.inner-wrapper{
  padding: @padding-base-vertical;
}

&.blue{
  background: @brand-primary;
}

&.green{
  background: @brand-success;
}

&.purple{
  background: @brand-info;
}

&.red{
  background: @brand-danger;
}

&.gray-light{
  background: @gray-light;
}

&.gray-dark{
  background: @gray-dark;
}

&.gray{
  background: @gray;
}

//Pull item to the right
.right {
  float: right;
}
//Pull item to the left
.left {
  float: left
}