.r2apps
{

  .profile-list{
    margin: 10px 0px;
  }

  .card{
    padding: 10px;
    border: 1px solid @gray-light;
    vertical-align: middle;
    height: 200px;
    .apps-lists{
      li{height: 35px;}
    }

    .btn{
      vertical-align: middle;
    }
  }

}