.r2apps
{

  .list-item-detail{
    padding: 10px;
  }

  .profile-list{
  }
  
  .drag-handle{
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
  }
  
  .card-body{
    padding: 10px;
    border: 1px solid @gray-light;
    vertical-align: middle;
    height: 200px;
    .apps-lists{
      li{height: 35px;}
    }

    .btn{
      vertical-align: middle;
    }
  }

}