.r2apps
{

  .list-item-detail{
    padding: 10px;
  }

  .profile-list{
  }
  
  .drag-handle{
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
  }
  
  .card-body{
    vertical-align: middle;
    .apps-lists{
      li{
       line-height: @line-height-block
     }
    }

    .btn{
      vertical-align: middle;
    }
  }

}