

.post{
  margin-top: @line-height-block/2;
  margin-bottom: @line-height-block;
  &:first-child{
    margin-top: 0px;
  }


  img{
    width: @line-height-block;
    height: @line-height-block * 0.96;
  }
 


  .title{
    display: inline-block;
    margin-right: 7px;
    color: darken(@gray-dark,10%);
    font-weight: 700;
  }

  .post-area{
  } 

  .post-actions{
    margin: 3px;
    margin-bottom: 0px;
    a.labels{
      display: inline-block;
      margin-right: 6px;
      cursor: pointer;
      color: @brand-primary;
    }
  }

  .post-comments{
    margin-bottom: 4px;
    border-left: 1px solid @gray-lightest;

    .inner-wrapper{
    }
  
    a.comment{ display: none; }
  
  }

  .post-new-comment{
    position: relative;
  
    img{
      display: inline-block;
    }

    textarea{
      display: inline-block;
      position: absolute;
      width: 90%;
    }
  }  
}