.icon {
  width: 175px /2.5;
  height: 175px/2.5;

  &.blue{
    background: @brand-primary;
  }

  &.green{
    background: @brand-success;
  }
  
  &.purple{
    background: @brand-info;
  }
  
  &.red{
    background: @brand-danger;
  }

  &.gray-light{
    background: @gray-light;
  }

  &.gray-dark{
    background: @gray-dark;
  }

  &.gray{
    background: @gray;
  }



}




.icon .gloss {
}

.icon .text
{
    color: white;
    font-size: 150px/2.5;
    font-family: sans-serif;
    line-height: 0px;
    font-weight: bold;
    text-align: center;
}


.icon.icon-small {
    width: 90%;
    height: 100%;
}

.icon.icon-small .gloss {
}

.icon.icon-small .text
{
    margin: 0px auto;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}