//MOST OF THIS CODE SHOULD BE MOVED ELSE WHERE , WE NEED TO WAIT AND SEE WHERE THIS STYLES ARE USED
// SINCE THEY WILL BE USED IN TWO DISTINCT COMPONENTS THEY WOULD PROBABLY STAY HERE
//BUT WITH MUCH MORE ORDER


.app-icon {  
  cursor: pointer;
  background-color: #fff;
  border: 1px solid @gray-lighter;
  width: 66px;
  height: 66px;
  
  .app-icon-header{
    text-align: center;
    border-bottom: none;
    height: 20px;
    overflow: hidden;
    padding: 0px 10px;
  
    .label{
      line-height: 20px;
      color: #fff;
      font-size: 11px;
      text-transform: capitalize;
      text-shadow: 1px 1px rgba(0,0,0,0.3);
    }

    .triangle{
      position: absolute;
      left: 8px;
      top: 0px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 60px 68px 0 0;
      border-color: rgba(255,255,255,0.3) transparent transparent transparent;
    }
  }

    .text
    {
      margin: 0px auto;
      color: @gray;
      font-weight: 300;
      font-size: 28px;
      line-height: 40px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
    }

}

.color-app-icon{
  height: 62px;
  position: relative;
  cursor: pointer;

  .triangle{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 60px 68px 0 0;
    border-color: rgba(255,255,255,0.25) transparent transparent transparent;
  }
  
  .text{
   margin: 0px auto;
   color: @gray-lighter;
   font-weight: 300;
   font-size: 20px;
   text-align: center;
   display: block;
   text-align: center;
   
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
  }
  
  .label{
    color: @gray-lighter;
    text-align: center;
    display: block;
    height: 20px;
    overflow: hidden;
    font-size: 10px;
    line-height: 24px;
  } 
}