.color-column{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  
  &.home-column{
    .header{
      h1{
        padding-left: 0px;
      }
    }
  }

  .header{
    text-align: left;
    border: 1px solid @gray-lighter;
    border-bottom: none;
    position: relative;
    
    
    .large-title, h1{
      padding-left: 20px;
      line-height: @line-height-double-block;
      color: #fff;
      text-align: center;
      display: block;
    }
    
    .btn-create{
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      width: 66px;
      color: #fff;
      text-align: center;
      line-height: 66px;
      font-size: @font-size-base;
      padding: 0px;
      border-color: #fff;
      border-left: 1px solid #fff;
      cursor: pointer;
      &:hover{
        background-color: rgba(255,255,255,0.3);
      }
    }
    
    .triangle{
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background: url("/images/fondo.svg")
    }    
  }

  .sub-header{
    border-top: 1px solid @gray-lightest;
    border-bottom: 1px solid @gray-lightest;
    border-left: 2px solid @gray-lighter;
    border-right: 2px solid @gray-lighter;
    line-height: @line-height-block;
    
    .sub-title{
      margin-left: 10px;
      &.text-center{
        margin-left: 0px;
      }
    }
  }
  
  .content-body,.body{
    padding: 10px 10px; 
    border: 1px solid @gray-lighter;
    background: @gray-light4;
  }
  
  
     
}