.kan-col{
  .full-height();
  position: relative;

  .header{
    height: @line-height-double-block;
    text-align: center;
    border: 1px solid @gray-lighter;
    border-bottom: none;
    

    &.purple{
      background-color: @brand-info;
    }

    &.blue{
      background-color: @brand-primary;
    }
    
    &.red{
      background-color: @brand-danger;
    }

    .large-title{
      line-height: @line-height-double-block;
      color: #fff;
    }
    
    .triangle{
      position: absolute;
      left: 8px;
      top: 0px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 70px 70px 0 0;
      border-color: rgba(255,255,255,0.2) transparent transparent transparent;
    }
    
  }

      
  .sub-header{
    border: 1px solid @gray-lightest;
    line-height: @line-height-block;
    
    .sub-title{
      margin-left: 10px;
      &.text-center{
        margin-left: 0px;
      }
    }
  }
  
  .content-body{
    .full-height();
    min-height:  50%;
    height: 72%;
    border: 1px solid @gray-lightest;
    padding: 8px 8px;  
    overflow-y: scroll !important; 
    
    &.content-body-stretch{
      width: 1000px;
      overflow-x: scroll !important;
    }   
  }
  
  .comment-box{
  margin-top: 10px;
  margin-bottom: @line-height-block;
  
  h4{
    margin: 4px 0px;
  }
  
    .reply-box{
      background-color: rgb(223,223,223);
      margin: 0px;
      padding-top: 4px;
      margin-bottom: 5px;
    }
  
  }
 
 
  &.metric-ban{

    .header{
    }

    .intro-box{
      background-color: rgb(61,164,223);
      #gradient.vertical( lighten( rgb(61,164,223) , 1%); darken( rgb(61,164,223) , 10%); 50%; 100%);
      height: 350px;
    }

    .graph{
      height: 66px;
      margin-bottom: 10px;
    }



  }
  
  
  
  
  
  &.app-ban{

    .header{
    }


    .app-row{
      margin: 10px 0px 6px 0px;
      padding: 9px 0px 6px 0px;
      .border-top-radius(5px);
      .border-bottom-radius(5px);    


      .labels{
        margin-top: 3px;
        text-align: center;
      }

    }

  }

  
  
       
}