// Lists
// -------------------------

.blue ~ .list-header {
  color: @brand-primary;
    .icon{
      fill: @brand-primary
    } 
} 
.list-item {
  border-bottom: 1px solid @gray-lighter;
  border-left: 1px solid @gray-lighter;
  border-right: 1px solid @gray-lighter;
  min-height:33px;
  line-height: 33px;
  padding: 0 @padding-small-horizontal;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  
  &:hover{
    border: 1px solid @gray-lighter;
    margin: 10px 0;
  }
} 

.list-header{
  font-size: @font-size-medium;
  height: 33px;
}