.menu{

  
  .labels{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: @font-size-large;
  }
  
}

.app-row{
  margin: 10px 0px 6px 0px;
  padding: 9px 0px 6px 0px;
  .border-top-radius(5px);
  .border-bottom-radius(5px);    


  .labels{
    margin-top: 3px;
    text-align: center;
  }

}

.app-icon {
    width: 90%;
    height: 100%;
    cursor: pointer;

  .text
  {
      margin: 0px auto;
      color: white;
      font-size: 30px;
      font-family: sans-serif;
      line-height: 50px;
      font-weight: bold;
      text-align: center;
  }

}