.splash{
  
  position: relative;
  
  .icon{
    font-family: 'Dosis';
    position: relative;
    left: -15px;
    display: inline-block;
    font-size: 35px;
    line-height: 39px;
    color: #fff;
    font-weight: 200;
    background-color: #efac43;
    .border-top-radius(100px);
    .border-bottom-radius(100px);
    padding: 10px 12px;
  }
  
  h1{
    text-shadow: 1px 1px #fff;
    font-family: 'Dosis';
    font-weight: 300;
    display: inline-block;
    position: relative;
    display: inline-block;
    font-size: 39px;
    line-height: 40px;
    margin-top: 9px;
    color: #6d6e70;

  }
  

}